 <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
       <link rel="stylesheet" href="/css/login.css?v=<?php echo(rand()); ?>" />
      
       
    </head>

<body>                        

        <div class="wrapper fadeInDown">
            <div id="formContent">
            
                <div class="fadeIn first">
                    <img src="images/logo.png" id="icon" alt="icon"/>
                </div>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
 <p class="h3 mb-3" id="inicio"> <strong> Por favor, iniciáte </strong> </p>


    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Introduzca su email" required autofocus>
   
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Escriba su contraseña" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Entrar
    </button>
</form>

</div>
</div>
</body>
